

@import "{{ site.theme }}";

.container {
  margin: 0 auto;
  text-align: center;
}
.container > h1 {
  display: inline;
  margin: 0 auto;
}
.container > canvas {
  border: 2px solid black;
  margin: 1em;
}
