

@import "{{ site.theme }}";

.myContainer {
  margin: 0 auto;
  text-align: center;
}
.myContainer > h1 {
  display: inline;
  margin: 0 auto;
}
.myContainer > canvas {
  border: 2px solid black;
  margin: 1em;
}
